@font-face {
    font-family: 'RussoOne';
    src: url('../assets/RussoOne-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'RussoOne';
    src: url('../assets/RussoOne-Regular.ttf');
    font-weight: 700;
    font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'RussoOne', sans-serif;
  color: white;
  line-height: 1.5;
}

header{
    padding-top: 15px;
    text-align: center;
    align-items: center;
    font-size: 30px;
    background-color: #1a1a1a;
}

header img{
    width: 15%;
    height: auto;
}

.navigation{
    display: flex;
    align-items: center;
    column-gap: 5%;
    justify-content: center;
    font-size: 20px;
    padding: 15px 0 15px 0;
}

.navigation a{
    text-decoration: none;
    color: white;
}

.navigation a:hover {
  color: #ffaa00;
}

.event{
    position: relative;
    background-image: url("../assets/AzureWeald_Wallpaper16x9.jpg");
    background-size: cover;
    background-position: center;
}

.event-text{
    font-size: 20px;
    padding: 50px;
    flex-direction: column;
    backdrop-filter: blur(10px);
}

.event p{
    margin-top: 15px;
    margin-bottom: 15px;
}

.event img{
    width: 40%;
    height: auto;
    float: right;
}

.images{
    width: 400px;
    display: flex;
    column-gap: 20px;
}

.images img{
    border-radius: 20px;
}

.info{
    position: relative;
    font-family: Inter, sans-serif;
    background-image: url("../assets/DRG_Planet02.jpg");
    background-size: cover;
    background-position: center;
}

.info-text{
    font-size: 20px;
    padding: 50px;
    flex-direction: column;
    backdrop-filter: blur(1px);
}

.info p{
    margin-top: 15px;
    margin-bottom: 15px;
}

.info img{
    width: 25%;
    height: auto;
    float: right;
}

footer{
    background-color: #1a1a1a;
    text-align: center;
    align-items: center;
    padding: 20px;
}

#scrollTopBtn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 99;
  background-color: #ffaa00;
  color: black;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
  box-shadow: 0 0 10px #ffaa00;
  width: 50px;
  height: 50px;
}


#scrollTopBtn:hover {
  background-color: #ffcc33;
  transform: scale(1.1);
}

.dwarf-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 80px;
}

#callDwarfBtn {
  background-color: #ffaa00;
  color: black;
  padding: 12px 24px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px #ffaa00;
  transition: background-color 0.3s, transform 0.3s;
  position: relative;
  z-index: 1;
}

#callDwarfBtn:hover {
  background-color: #ffcc33;
  transform: scale(1.05);
}

.dwarf-popup {
  position: absolute;
  bottom: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 15px 20px;
  border-radius: 12px;
  border: 3px solid #ffaa00;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 20px #ffaa00;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: transform 0.4s ease, opacity 0.4s ease;
  z-index: 10;
  max-width: none;
  white-space: nowrap;
}

.dwarf-popup.active {
  opacity: 1;
  transform: translateY(-10px);
  pointer-events: auto;
}

.dwarf-popup img {
  height: 60px;
  flex-shrink: 0;
}

.dwarf-popup p {
  font-size: 18px;
  color: #ffaa00;
  margin: 0;
  line-height: 1.3;
  white-space: nowrap;
}

/* ======= НЕОНОВЫЙ ЗАГОЛОВОК ======= */
.event h2 {
  color: #ffee88;
  text-shadow:
    0 0 4px #ffaa00,
    0 0 8px #ffaa00,
    0 0 12px #ffcc33;
}

/*ПРЕДУПРЕЖДЕНИЕ*/
.alert-blink {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #ff0000;
  color: white;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 0 0 15px red;
  display: none;
  z-index: 9999;
  animation: blinkAlert 0.6s infinite;
}

@keyframes blinkAlert {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.2; }
}


/*УВЕЛИЧЕНИЕ КАРТИНОК ПРИ НАВЕДЕНИИ*/
header img {
  transition: transform 0.3s ease-in-out;
}

header img:hover {
  transform: scale(1.05);
}

/*ПУЛЬЗАЦИЯ ЛОГО*/
@keyframes pulseLogo {
  0%, 100% {
    transform: scale(1);
    filter: drop-shadow(0 0 5px #ffaa00);
  }
  50% {
    transform: scale(1.1);
    filter: drop-shadow(0 0 15px #ffaa00);
  }
}

header img:hover {
  animation: pulseLogo 1.5s infinite ease-in-out;
}

/*SLIDER*/
.slider-container {
    margin: 50px auto;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    height: 500px;
    width: 900px;
}

.slider {
    display: flex;
    transition: transform 0.5s;
    height: 100%;
}

.slide {
    min-width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255);
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    z-index: 10;
}

.slider-btn:hover {
    background: #1db8f3;
}

.prev-btn {
     left: 20px;
}

.next-btn {
    right: 20px;
}

.dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 15px;
    z-index: 10;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 0.5s ease;
}

.dot.active {
    background: #ff820e;
    transform: scale(1.5);
}

/*Телефоны: до 480px*/
@media (max-width: 480px) {
  header img {
    width: 100%;
  }

  .event-img img{
    width: 500px;
    transform: scale(1.5);
    padding-bottom: 10px;
  }

  .navigation {
    flex-direction: column;
    font-size: 16px;
    row-gap: 10px;
  }

  .event-text, .info-text {
    padding: 20px;
    font-size: 16px;
  }

  .event img, .info img {
    float: none;
    width: 100%;
    margin: 15px 0;
  }

  .images {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .images img {
    width: 90%;
  }

  .slider-container {
    width: 100%;
    max-width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
    margin: 20px auto; /* по центру */
    display: block;
  }

  .slider-btn {
    width: 28px;
    height: 28px;
    padding: 4px;
  }

  .prev-btn {
     left: 1%;
  }

  .next-btn {
    right: 1%;
  }

  .slider-btn img {
    width: 14px;
    height: 14px;
  }

  .dots {
    gap: 6px;
    bottom: 8px;
  }

  .dot {
    width: 6px;
    height: 6px;
  }

  .dot.active {
    transform: scale(1.2);
  }

  #callDwarfBtn {
    font-size: 16px;
    padding: 10px 20px;
  }

  .dwarf-popup p {
    font-size: 12px;
  }

  .dwarf-popup {
    height: 100px;
    width: 250px;
    gap: 0px;
  }

  .dwarf-popup img{
    transform: scale(0.7);
  }

  .alert-blink {
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    max-width: 90%;
    font-size: 14px;
    text-align: center;
    padding: 10px 16px;
  }
}

/*Планшеты: до 768px*/
@media (max-width: 768px) {
  header img {
    width: 35%;
  }

  .navigation {
    font-size: 18px;
    column-gap: 20px;
  }

  .event-text, .info-text {
    padding: 30px;
    font-size: 18px;
  }

  .event img, .info img {
    float: none;
    width: 70%;
    margin: 15px auto;
    display: block;
  }

  .images {
    flex-wrap: wrap;
    justify-content: center;
  }

  .images img {
    width: 45%;
  }

  .slider-container {
    width: 95%;
    height: auto;
    aspect-ratio: 16/9;
  }
}

/*Ноутбуки и десктопы: до 1280px*/
@media (max-width: 1280px) {
  .event-text, .info-text {
    padding: 40px;
    font-size: 19px;
  }

  .slider-container {
    width: 90%;
    height: auto;
    aspect-ratio: 16/9;
  }
}

/*4K и выше: от 1920px*/
@media (min-width: 1920px) {

  .event-text, .info-text {
    padding: 80px;
    font-size: 26px;
  }

  .slider-container {
    width: 70%;
    height: 800px;
  }

  .images img {
    width: 250px;
  }

  .navigation {
    font-size: 24px;
  }

  #callDwarfBtn {
    font-size: 22px;
    padding: 14px 28px;
  }

  .dwarf-popup p {
    font-size: 20px;
  }

  .prev-btn {
     height: 100px;
     width: 100px;
  }

  .next-btn {
    height: 100px;
     width: 100px;
  }

  #scrollTopBtn{
    height: 100px;
    width: 100px;
  }

  #callDwarfBtn{
    width: 300px;
    height: 150px;
  }

  .dwarf-popup{
    height: 150px;
  }
}
